RFID_MODE=hardware
RFID_SERIAL_PORTS=COM3
RFID_BAUD_RATE=115200
RFID_READ_TIMEOUT_SECONDS=1
RFID_RECONNECT_DELAY_SECONDS=2
RFID_POLL_INTERVAL_SECONDS=0.1
RFID_DUPLICATE_WINDOW_SECONDS=1.5
RFID_VALID_UID_PATTERN=^[0-9A-F]{8,32}$

MOCK_RFID_TAGS=TAG1,TAG2,TAG3,TAG4,TAG5,TAG_UNKNOWN
MOCK_READER_AUTO_SCAN=false

KOHA_BASE_URL=
KOHA_CLIENT_ID=
KOHA_CLIENT_SECRET=
KOHA_TIMEOUT_SECONDS=10